.item {
  display: flex;
  align-items: center;

  min-height: 50px;

  font-size: 22px;
  font-weight: 300;
  color: #5c5c5c;
}

.checkbox {
  display: none;
}

.circle {
  cursor: pointer;

  display: block;
  flex-shrink: 0;

  width: 26px;
  height: 26px;
  margin-right: 14px;
  border: 1px solid #c2c2c2;
  border-radius: 50%;
}

.checkbox:checked + .circle {
  border: 1px solid #6bb1c7;
  background-image: url("./done-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.done {
  color: #c2c2c2;
  text-decoration: line-through;
}

.delete {
  margin-left: auto;
  padding: 2px 0 0;
  border: none;

  opacity: 0;
  background-color: transparent;
  outline: none;
}

.item:hover .delete {
  cursor: pointer;
  opacity: 1;
}

.changeText {
  width: 100%;
  padding: 0;
  border: none;

  font-size: 22px;
  font-weight: 300;
  color: #8d8d8d;

  outline: none;
}
