.item {
    display: flex;
    align-items: center;
    min-height: 50px;
    font-size: 22px;
    font-weight: 300;
    color: #5c5c5c;
}

.checkbox {
    display: none;
}

.circle {
    display: block;
    margin-right: 14px;
    width: 26px;
    height: 26px;
    border: 1px solid #c2c2c2;
    border-radius: 50%;
    cursor: pointer;
    flex-shrink: 0;
}

.checkbox:checked + .circle {
    border: 1px solid #6bb1c7;
    background-image: url(./done-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.done {
    color: #c2c2c2;
    text-decoration: line-through;
}

.delete {
    margin-left: auto;
    padding: 2px 0 0 0;
    border: none;
    background-color: transparent;
    opacity: 0;
    outline: none;
}

.item:hover .delete {
    opacity: 100%;
    cursor: pointer;
}

.changeText {
    padding: 0;
    width: 100%;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 300;
    color: #8d8d8d;
    border: none;
    outline: none;
}
