.nav {
    margin: 30px 0 18px 0;
    height: 50px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: normal;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
}

.link {
    display: block;
    margin: 0 6px;
    padding: 10px 18px;
    text-decoration: none;
    color: #5c5c5c;
    border: 2px solid transparent;
    border-radius: 28px;
}

.link:hover {
    border: 2px solid #6bb1c7;
}

.linkActive {
    background-color: #6bb1c7;
    color: #fff;
}

@media (max-width: 726px) {
    .nav {
        margin: 16px 0 12px 0;
    }
}
