.nav {
  height: 50px;
  margin: 30px 0 18px;
  font-size: 22px;
  font-weight: normal;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.link {
  display: block;

  margin: 0 6px;
  padding: 10px 18px;
  border: 2px solid transparent;
  border-radius: 28px;

  color: #5c5c5c;
  text-decoration: none;
}

.link:hover {
  border: 2px solid #6bb1c7;
}

.linkActive {
  color: #fff;
  background-color: #6bb1c7;
}

@media (width <= 726px) {
  .nav {
    margin: 16px 0 12px;
  }
}
