.wrap {
    margin-top: 50px;
    padding-top: 24px;
    width: 500px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(104, 104, 104, .25);
}

.title {
    margin: 0 auto 28px auto;
    width: 258px;
    font-size: 65px;
    font-weight: 300;
    color: #ecd4d4;
    line-height: 65px;
}

.todo {
    margin: 0 32px;
}