.button {
    padding: 0;
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 300;
    color: #fff;
    line-height: 36px;
    background-color: #c2c2c2;
    border: none;
    border-radius: 0 8px 8px 0;
    outline: none;
    cursor: pointer;
}

.button:hover {
    background-color: #adadad;
}
