.footer {
    display: flex;
    align-items: center;
    height: 36px;
    font-size: 14px;
    font-weight: 300;
    color: #5c5c5c;
}

.counter {
    display: block;
    margin: 0 42px 0 20px;
}

.radio {
    display: none;
}

.label {
    display: block;
    margin-right: 16px;
    padding: 0 4px;
    height: 22px;
    border: 1px solid transparent;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
}

.label:hover {
    border-color: #faf1f1;
}

.radio:checked + .label {
    border-color: #ecd4d4;
}