.list {
  overflow: scroll;

  height: 458px;
  margin: 12px 0;
  padding: 0;

  list-style: none;
}

@media (width <= 726px) {
  .list {
    height: 360px;
    margin: 6px 0;
  }
}

@media (width <= 410px) {
  .list {
    height: 330px;
  }
}

@media (width <= 354px) {
  .list {
    height: 300px;
  }
}
