.list {
    margin: 12px 0;
    padding: 0;
    list-style: none;
    height: 458px;
    overflow: scroll;
}

@media (max-width: 726px) {
    .list {
        margin: 6px 0;
        height: 360px;
    }
}

@media (max-width: 410px) {
    .list {
        height: 330px;
    }
}

@media (max-width: 354px) {
    .list {
        height: 300px;
    }
}
